 <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Denominación</th>
                    <th scope="col">Localización</th>
                </tr>
            </thead>
            <tbody>
                {{#each empleadosAll}}
                <tr height="100px">
                    <td>{{e_id}}</td>
                    <td>{{nombre}}</td>
                    <td>{{apellidos}} </td>
                    {{#if denominacion}}
                    <td>{{denominacion}}</td>
                    {{else}}
                    <td class="table-secondary">{{denominacion}}</td>
                    {{/if}}
                    {{#if localizacion}}
                    <td>{{localizacion}}</td>
                    {{else}}
                    <td class="table-secondary">{{localizacion}}</td>
                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>