{{>header}}


<br><br><br>
<h1 class="text-center">Empleados</h1>
<div class="text-center">

    <button class="btn btn-primary employ1">Empleados en 치rea</button>
    <button class="btn btn-success employ">Lista de empleados</button>
    <button class="btn btn-secondary employ2">Empleados sin 치rea</button>
</div>

<br><br><br>
<div class="container text-center table-responsive employes1" data-employee="{{empleados}}">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Denominaci칩n</th>
                <th scope="col">Localizaci칩n</th>
            </tr>
        </thead>
        <tbody class="principalTbody">
            {{#each empleados}}
            <tr height="100px">
                <td>{{id}}</td>
                <td>{{nombre}}</td>
                <td>{{apellidos}} </td>
                <td>{{denominacion}}</td>
                <td>{{localizacion}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{>footer}}
<script type="module">
    import { tablePrincipal, isTable} from '/js/template/employee.mjs';
    import { getDataFilter} from '/js/inicio.mjs';
    const principalTbody = document.querySelector('.principalTbody');
    const container = document.querySelector('.container');
    const items = Array.from(principalTbody.querySelectorAll('tr'));
    let hideSpaces, divide;
    const showItems = items.map(val => {
        hideSpaces = val.innerText
        divide = hideSpaces.split("\t")
        return divide
    });



    const filterInArea =   showItems.filter(e => e[3]);
    const filterNoneArea = showItems.filter(e => !e[3]);
    const employNoneArea = getDataFilter({dataByFilter: filterNoneArea});
    const employInArea =  getDataFilter({dataByFilter: filterInArea});
    
    const isFragment = `{{#each empleados}}
                <tr height="100px">
                    <td>{{id}}</td>
                    <td>{{nombre}}</td>
                    <td>{{apellidos}} </td>
                    <td>{{denominacion}}</td>
                    <td>{{localizacion}}</td>
                </tr>
                {{/each}}
`;

    document.addEventListener("click", async function (event) {
        const demoster = event.target.closest(".employ");
        const demoster2 = event.target.closest(".employ2");
        const demoster3 = event.target.closest(".employ1");
        if (demoster) container.innerHTML = tablePrincipal({ fragment: isFragment});

        if (demoster2) container.innerHTML = isTable({ data :employNoneArea});
        
        if (demoster3)  container.innerHTML = isTable({ data :employInArea});
    })
</script>